<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - JCM Thailand</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="~/Content/custom.layout.css" />
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>


</head>
<body>
    <!--## Navigation Bar ##-->
    <nav class="navbar navbar-expand-md navbar-light">
        <!-- ::Brand -->
        <!-- <a class="navbar-brand" href="/Home/About">[ JCM-Thailand ]</a> -->
        <a class="navbar-brand" href="/Home/About">
            <img src="~/Images/JCM_Global_RGB - email signature.png" />
        </a>
        <!-- ::Toggler/collapsibe Button -->
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- ::Navbar links -->
        <div class="collapse navbar-collapse" id="navMenu">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("About", "About", "Home", new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", new { @class = "nav-link" })</li>
            </ul>
        </div>
    </nav>
    <!--## Body Page ##-->
    <div class="container-fluid m-0 p-0">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    <!--## Script Import ##-->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
