@model JCashMachineThailand.Models.ModelContactEmail
@{
    ViewBag.Title = "Bangkok";
}

<div class="container">
    <!-- Contact -->
    <section id="contact">
        <div class="container-fluid p-md-5">
            <div class="row  p-0 m-0 bg-jcm-contact">
                <div class="img-thumbnail">
                    <a href="https://goo.gl/maps/XbbFRbKN581mqcKg6" style="height:200px">
                        <img class="card-img" src="~/Images/map/JCM-T Map.jpg" alt="jcm-thailand map"/>
                    </a>
                </div>
                @*<div id="mapArea" class="row p-0 m-0 bg-secondary w-100" style="height:400px; word-break:break-all">
                    <p>JCM-T map</p>
                </div>*@
                <div class="col-md-6 pt-3 border">
                    <div class="card text-center border-0 bg-jcm-contact">
                        <h3 class="card-title color-jcm-blue p-3">Contact Us</h3>
                        <h5 class="card-subtitle pb-3">J-Cash Machine (Thailand) Co.,Ltd.</h5>
                        <address>
                            42 Tower, Room701, 7th Floor,<br />
                            65 Soi Sukhumvit 42 (Kluaynamthai),<br />
                            Sukhumvit Rd., Prakanong Klongtoey,<br />
                            Bangkok 10110 Thailand<br />
                            <br />
                            <a href="mailto:support@jcm-thai.co.th">support@jcm-thai.co.th</a><br />
                            <br />
                            Tel. +66 2 712 3155-6<br />
                            Fax. +66 2 712 3157
                        </address>
                    </div>
                </div>
                <div class="col-md-6 py-3">
                    @using (Html.BeginForm("Contact", "Home"))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group mx-xl-5 pt-3">
                            <div class="form-row justify-content-center">
                                <div class="col-md">
                                    @Html.TextBoxFor(m => m.FromName, new { @class = "form-control mb-2 max-width-768px btn-outline-dark", placeholder = Html.DisplayNameFor(m => m.FromName) })
                                    @Html.ValidationMessageFor(m => m.FromName)
                                </div>
                                <div class="col-md">
                                    @Html.TextBoxFor(m => m.FromEmail, new { @class = "form-control mb-2 max-width-768px btn-outline-dark", placeholder = Html.DisplayNameFor(m => m.FromEmail) })
                                    @Html.ValidationMessageFor(m => m.FromEmail)
                                </div>
                            </div>
                            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control mb-2 max-width-768px btn-outline-dark", placeholder = Html.DisplayNameFor(m => m.PhoneNumber) })
                            @Html.ValidationMessageFor(m => m.PhoneNumber)
                            @Html.TextBoxFor(m => m.Subject, new { @class = "form-control mb-2 max-width-768px btn-outline-dark", placeholder = Html.DisplayNameFor(m => m.Subject) })
                            @Html.ValidationMessageFor(m => m.Subject)
                            @Html.TextAreaFor(m => m.Message, new { @class = "form-control mb-3 max-width-768px btn-outline-dark", @rows = 3, placeholder = Html.DisplayNameFor(m => m.Message) })
                            @Html.ValidationMessageFor(m => m.Message)
                            <br />
                            <p>
                                Please answer below <br />
                                What is the total of <b>@System.Web.HttpContext.Current.Session["valA"]</b> and <b>@System.Web.HttpContext.Current.Session["valB"]</b>?
                            </p>
                            @Html.TextBoxFor(m => m.AnswerBot, new { @class = "form-control mb-2 max-width-768px btn-outline-dark", placeholder = "Please fill answer number" })
                            @Html.ValidationMessageFor(m => m.AnswerBot)
                            <br />
                            <button type="submit" class="btn-dark w-100">Send</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Import Page Stylesheet -->
<link rel="stylesheet" type="text/css" href="~/Content/custom.index.css" />
@section scripts{
    @*<script src="~/Scripts/siteScripts.js" defer></script>*@
}
